$error: #ef4446;
$error-background: #f5ddd6;
$warning: #e8bd0a;
$warning-background: #f5e8d3;
$info: #2793e0;
$info-background: #d7e5f1;
$success: #3fb475;
$success-background: #ddeade;
$transparent: transparent;
$transition: all 0.2s ease-in-out;
