.app-summary {
  display: flex;
  flex-flow: row;
  text-align: center;
  padding: 0 9vw;

  .description {
    color: var(--secondary);
    line-height: 3vh;
    place-self: center;
  }
}

::ng-deep .app-summary {
  img {
    height: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .app-summary {
    .description {
      font-size: 18px;
    }
  }
}

@media only screen and (min-width: 992px) {
  .app-summary {
    .description {
      line-height: 3.5vh;
    }
  }
}
