.app-summary {
  display: flex;
  flex-flow: row;
  margin: 10vh 5vw;

  .portrait {
    background: linear-gradient(45deg, var(--primary), var(--secondary));
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    border: 1px solid var(--primary);
    width: 35vw;
    max-height: 100%;
    height: 80vh;
    flex: 0 0 auto;

    &::before {
      content: "";
      position: absolute;
      inset: 3px;
      border-radius: inherit;
      z-index: -1;
      background: url(../../../assets/portrait.jpg);
      background-size: cover;
      background-position: center;
      border: 1px solid var(--secondary);
    }
  }

  .description {
    color: var(--secondary);
    padding-left: 4vw;
    line-height: 2.7vh;
    place-self: center;
  }
}
