@import "../../styles/mixin-breakpoint.scss";

.app-summary {
  display: flex;
  flex-flow: column;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;

  .description {
    place-self: center;
    flex: 1 1 50%;

    a {
      &::before {
        z-index: -1;
      }
    }
  }

  app-skills {
    flex: 1 1 50%;
    align-self: center;
  }

  @include getBreakpoint(tab-land) {
    flex-flow: row;
  }
}

ng-deep a:before {
  z-index: -1;
}
