@import "../../styles/mixin-breakpoint.scss";

.app-contact {
  .social-links {
    padding: 5vh 2vw 1vh;
    display: flex;
    flex-flow: wrap;
    justify-content: center;

    a {
      margin-right: 2vw;

      svg {
        fill: var(--primary);

        &:hover {
          fill: var(--secondary);
        }
      }
    }
  }

  .form-wrapper {
    display: flex;
    justify-content: center;

    form.contact {
      display: flex;
      flex-direction: column;
      max-width: 90vw;
      width: 80vw;
      margin: 0 4vw;

      @include getBreakpoint(tab-port) {
        max-width: 50vw;
        width: 50vw;
      }
    }

    input,
    textarea {
      font-family: "HindMadurai";
      margin-bottom: 1rem;
      background-color: var(--theme-black);
      border: none;
      border-bottom: 1px solid var(--primary);
      padding: 1vh 0.5vw;
      color: var(--theme-white);
    }

    button {
      margin-top: 2vh;
      align-self: center;
      width: fit-content;

      &:disabled {
        cursor: unset;
        opacity: 0.5;

        &:hover {
          border-color: unset;
        }
      }
    }

    .error {
      color: var(--warning);
      font-size: 1rem;
      margin-bottom: 1vh;
    }

    .error-text {
      align-self: center;
      color: var(--error);
    }

    .success-text {
      align-self: center;
      color: var(--secondary);
    }
  }
}
