<div class="app-project">
  <img [src]="project.imageUrl" class="app-project__image">
  <div class="app-project__title">
    {{ project.name }}
  </div>
  {{ project.description }}
  <div class="app-project__languages">
    @for (item of languagesPercentage | keyvalue; track item) {
    <div class="app-project__languages__language">
      {{ item.key }}
      <span class="app-project__languages__language__percentage">
        {{ item.value }}
      </span>
    </div>
    }
  </div>
  <a target="_blank" [href]="project.url">See code</a>
</div>