<div class="app-project shine">
  <div
    class="image"
    [ngStyle]="{ 'background-image': 'url(' + project.imageUrl + ')' }"
  ></div>
  <div class="description">
    <div class="desctiption-name">
      {{ project.name }}
    </div>
    <div class="description-languages">
      <div
        class="description-languages-language"
        *ngFor="let item of languagesPercentage | keyvalue"
      >
        <div class="description-languages-language-title">
          {{ item.key }}
        </div>
        <div class="description-languages-language-percentage">
          {{ item.value }}
        </div>
      </div>
    </div>
    <a target="_blank" [href]="project.url">See code</a>
  </div>
</div>
