<div class="app-project">
  <div class="card card-front">
    <div
      class="image"
      [ngStyle]="{ 'background-image': 'url(' + project.imageUrl + ')' }"
    ></div>
  </div>
  <div class="card card-back">
    <div class="card-back-name">
      <span>
        {{ project.name }}
      </span>
    </div>
    <div class="card-back-description">
      {{ project.description }}
    </div>
    <div class="card-back-languages">
      <div
        class="card-back-languages-language"
        *ngFor="let item of languagesPercentage | keyvalue"
      >
        {{ item.key }}

        <span class="card-back-languages-language-percentage">
          {{ item.value }}
        </span>
      </div>
    </div>
    <a target="_blank" [href]="project.url">See code</a>
  </div>
</div>
