.app-project {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 1vh 0 10vh;
  width: 100vw;

  &:hover {
    .content {
      border-color: var(--secondary) !important;
      box-shadow: 0px 0px 13px -8px var(--secondary);

      &-name {
        color: var(--secondary);
      }
    }
  }

  &.left {
    .content {
      border-left: 2px solid var(--primary);
      border-right: unset;
    }
  }

  .image {
    height: 20vh;
    width: 100vw;
    min-width: 60%;
    background-size: cover;
    background-position: center;
    z-index: 1;
  }

  .content {
    color: var(--grey);
    padding: 3vw;
    border-right: 2px solid var(--primary);
    border-left: unset;
    margin: -7vh 5vh;
    text-align-last: start;
    background-color: var(--black);
    z-index: 2;
    box-shadow: 0px 0px 13px -8px var(--primary);

    &-name {
      font-weight: bold;
      color: var(--primary);
      font-family: "Esteban";
      padding-bottom: 1vh;
    }

    &-description {
      line-height: 2.5vh;
      padding-bottom: 1vh;
      font-size: 12px;
    }

    &-languages {
      display: flex;
      flex-flow: wrap;
      padding-bottom: 2vh;
      font-size: 12px;
      line-height: 2.2vh;

      &-language {
        display: flex;
        flex-flow: row;

        &-title {
          color: var(--primary);
        }

        &-percentage {
          opacity: 0.5;
          padding: 0 1vw 0 0.5vw;

          &::before {
            content: "- ";
          }

          &::after {
            content: "%";
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .app-project {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 1vh 0;
    width: 80vw;

    &.left {
      flex-direction: row-reverse;

      .content {
        border-left: 2px solid var(--primary);
        border-right: unset;
        margin: 4vh -7vw 4vh 0;
      }
    }

    .image {
      height: 40vh;
      width: 60vw;
      filter: grayscale(1);
    }

    .content {
      flex-flow: column;
      width: 50%;
      min-width: 50%;
      color: var(--grey);
      padding: 3vh 3vw;
      border-right: 2px solid var(--primary);
      border-left: unset;
      margin: 4vh 0 4vh -7vw;
      text-align-last: start;
      background-color: var(--black);
      z-index: 2;
    }
  }
}

@media only screen and (min-width: 992px) {
  .app-project {
    &:hover {
      .image {
        filter: none;
      }
    }

    .content {
      &-name {
        font-size: 18px;
      }

      &-description,
      &-languages {
        font-size: 14px;
      }
    }
  }
}
