.app-certificate {
  margin: 1vw;

  img {
    width: 23vw;
    height: auto;
    cursor: pointer;
  }
}

@media only screen and (min-width: 560px) {
  .app-certificate {
    img {
      width: 18vw;
    }
  }
}

@media only screen and (min-width: 800px) {
  .app-certificate {
    img {
      width: 13vw;
    }
  }
}

@media only screen and (min-width: 950px) {
  .app-certificate {
    img {
      width: 9vw;
    }
  }
}
