@import "../../styles/mixin-breakpoint.scss";

.app-certificate {
  margin: 1vw;
  border-radius: 3px;
  padding: 1vw;
  text-align: center;
  height: 100%;
  max-height: -webkit-fill-available;
  font-size: 1.5rem;
  color: var(--white);

  &:hover {
    img {
      filter: none;
    }
  }

  .name {
    font-weight: bold;
    padding-bottom: 1vh;
    text-wrap: balance;
  }

  img {
    max-height: 18vw;
    filter: grayscale(1);
    width: auto;
    height: auto;
    padding-bottom: 1vh;

    @include getBreakpoint(tab-port) {
      max-height: 13vw;
    }

    @include getBreakpoint(tab-land) {
      max-height: 9vw;
    }
  }
}
