@import "../../styles/mixin-breakpoint.scss";

.app-work-experience {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
  margin: 1vw;

  .image {
    width: 35vw;
    height: auto;

    @include getBreakpoint(tab-port) {
      width: 15vw;
    }
  }
}
