.app-testimonial {
  background-color: var(--grey);
  color: var(--black);
  justify-self: stretch;
  margin: 5px;
  height: 100%;
  max-height: -webkit-fill-available;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  .description {
    line-height: 2.7vh;
    place-self: center;
    padding: 5vw;
    background-color: var(--white);
    height: -webkit-fill-available;

    .quotes {
      font-size: x-large;
      color: var(--primary);
    }
  }

  .author {
    padding: 5vw;
    display: flex;
    flex-flow: row;
    align-items: center;

    &-company {
      width: 60px;
      min-width: 60px;
      height: 60px;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
    }

    &-details {
      padding-left: 5vw;
      font-size: 12px;

      &-name {
        font-weight: bold;
        font-size: 14px;
        font-family: "Esteban";
      }

      &-role {
        color: var(--primary);
      }
    }
  }
}

@media only screen and (min-width: 576px) {
  .app-testimonial {
    .description {
      padding: 3vw;
    }

    .author {
      padding: 3vw;
      min-height: 10vh;

      &-details {
        padding-left: 3vw;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .app-testimonial {
    .description {
      padding: 2vw;
    }

    .author {
      padding: 2vw;

      &-details {
        padding-left: 2vw;
      }
    }
  }
}
