<div class="app-testimonial">
  <div class="description">
    <span class="quotes">"&nbsp;</span>{{ testimonialText()
    }}<span class="quotes">&nbsp;"</span>
    <a *ngIf="isSeeMoreVisible()" (click)="switchSeeMore()">
      &nbsp; {{ seeMore ? "See less" : "See more" }}</a
    >
  </div>
  <div class="author">
    <div
      class="author-company"
      [ngStyle]="{ 'background-image': mapImageLogo() }"
    ></div>
    <div class="author-details">
      <div class="author-details-name">
        {{ testimonial.author }}
      </div>
      <div class="author-details-role">
        {{ testimonial.role }}
      </div>
    </div>
  </div>
</div>
