.app-testimonial {
  margin: 1vw;
  border-radius: 3px;
  padding: 1vw;
  text-align: center;
  height: 100%;
  max-height: -webkit-fill-available;
  font-size: 1.5rem;
  color: var(--white);
  display: flex;
  flex-flow: column;
  align-items: center;

  &:hover {
    img {
      filter: unset;
    }
  }

  img {
    filter: grayscale(1);
    width: auto;
    height: auto;
    padding-bottom: 1vh;
    max-height: 15rem;
    max-width: -webkit-fill-available;
  }

  .description {
    place-self: center;
    height: -webkit-fill-available;

    .quotes {
      color: var(--primary);
    }

    a {
      color: var(--theme-black);
    }
  }

  .author {
    padding: 2rem 0;
    display: flex;
    flex-flow: row;
    align-items: center;

    &-details {
      padding-left: 1.5vw;

      &-name {
        font-size: 2rem;
        padding-bottom: 0.7vh;
        line-height: 1;
      }

      &-role {
        font-size: 1.5rem;
        color: var(--primary);
        line-height: 1;
      }
    }
  }
}
