.app-testimonial {
  background-color: var(--grey);
  color: var(--theme-black);
  justify-self: stretch;
  margin: 5px;
  height: 100%;
  max-height: -webkit-fill-available;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  font-size: 1.5rem;

  .description {
    place-self: center;
    padding: 1.5vw;
    background: var(--theme-white);
    height: -webkit-fill-available;

    .quotes {
      color: var(--primary);
    }

    a {
      color: var(--theme-black);
    }
  }

  .author {
    padding: 1.5vw;
    display: flex;
    flex-flow: row;
    align-items: center;

    &-company {
      width: 60px;
      min-width: 60px;
      height: 60px;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      filter: grayscale(1);
    }

    &-details {
      padding-left: 1.5vw;

      &-name {
        font-weight: bold;
        padding-bottom: 0.7vh;
        line-height: 1;
      }

      &-role {
        font-size: 1.2rem;
        color: var(--primary);
        line-height: 1;
      }
    }
  }
}
