<div class="app-testimonial shine button light" (click)="openDialog()">
  <div class="author">
    <div class="author-details">
      <div class="author-details-name">
        {{ testimonial.author }}
      </div>
      <div class="author-details-role">
        {{ testimonial.role }} <span>&#64; {{ testimonial.from }}</span>
      </div>
    </div>
  </div>

  <div class="description">
    <span class="quotes">"&nbsp;</span>{{ testimonial.text.slice(0, 200) + "..."
    }}<span class="quotes">&nbsp;"</span>
  </div>

  <a target="_blank">Read more</a>
</div>