<div class="app-testimonial shine button light">
  <img
    loading="lazy"
    [src]="mapImageLogo()"
    [alt]="'Logo for certification ' + testimonial.author"
  />
  <div class="author">
    <div class="author-details">
      <div class="author-details-name">
        {{ testimonial.author }}
      </div>
      <div class="author-details-role">
        {{ testimonial.role }}
      </div>
    </div>
  </div>

  <div class="description">
    <span class="quotes">"&nbsp;</span>{{ testimonial.text
    }}<span class="quotes">&nbsp;"</span>
  </div>
</div>
