@import "../../styles/theme.scss";

.app-article {
  border-radius: 5px;
  height: 100%;
  color: $black;
  background-color: $white;
  padding: 1.5vw;
  display: flex;
  flex-flow: column;
  font-size: 1.5rem;
  justify-content: space-between;
  font-weight: bold;
  text-wrap: balance;

  &__tags {
    display: flex;
    flex-flow: wrap;

    &__tag {
      background-color: $primary-opacity-10;
      color: $primary;
      border-radius: 3px;
      font-weight: normal;
      font-size: 1rem;
      margin: 5px;
      padding: 0 5px;
      white-space: nowrap;
    }
  }

  a {
    margin-top: 1.5rem;
    align-self: end;
  }
}