@import "../../styles/mixin-breakpoint.scss";

.app-article {
  color: var(--theme-black);
  margin: 5px;
  justify-self: stretch;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 25rem;
  background-color: var(--white);

  .image {
    min-height: 40%;
    height: 40%;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }

  .description {
    padding: 1.5vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 1.5rem;
    height: -webkit-fill-available;
    justify-content: space-between;
    font-weight: bold;
    text-wrap: balance;

    a {
      margin-top: 1.5rem;
      align-self: end;
      color: var(--black);
    }
  }

  @include getBreakpoint(tab-land) {
    height: 40rem;

    .image {
      min-height: 60%;
      height: 60%;
    }
  }
}
