.app-article {
  color: var(--theme-black);
  margin: 5px;
  justify-self: stretch;
  margin: 5px;
  max-height: -webkit-fill-available;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;

  .image {
    min-height: 30vw;
    height: 30vw;
    background-size: cover;
    background-position: center;
  }

  .description {
    background-color: var(--grey);
    padding: 1.5vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 1.5rem;
    height: -webkit-fill-available;
    justify-content: space-between;
    font-weight: bold;

    a {
      margin-top: 1.5rem;
      align-self: end;
      color: var(--black);
    }
  }
}

@media screen and (min-width: 650px) {
  .app-article {
    .image {
      min-height: 20vw;
      height: 20vw;
    }
  }
}

@media screen and (min-width: 840px) {
  .app-article {
    .image {
      min-height: 15vw;
      height: 15vw;
    }
  }
}
