<app-banner></app-banner>

<div class="wrapper wrapper-summary">
  <div class="centered-category-title">Long story short</div>
  <div class="category-wrapper">
    <app-summary></app-summary>
  </div>
</div>

<div class="wrapper wrapper-certifications">
  <div class="category-wrapper">
    @for (certificate of CERTIFICATIONS; track certificate) {
      <app-certificate
        [certificate]="certificate"
      ></app-certificate>
    }
  </div>
</div>

<div class="wrapper wrapper-projects">
  <div class="centered-category-title">Latest projects</div>
  <div class="category-wrapper projects">
    @for (project of gitHubProjects; track project) {
      <app-project
        [project]="project"
      ></app-project>
    }
  </div>
  <div class="centered-button">
    <button (click)="openLink('GITHUB')" class="dark">Go to GitHub</button>
  </div>
</div>

<div class="wrapper wrapper-articles">
  <div class="centered-category-title" #publications>Latests publications</div>
  <div class="category-wrapper articles">
    @for (article of mediumArticles; track article) {
      <app-article
        [article]="article"
      ></app-article>
    }
  </div>
  <div class="centered-button">
    <button (click)="openLink('MEDIUM')" class="dark">Go to Medium</button>
  </div>
</div>

<div class="wrapper wrapper-testimonials">
  <ngx-slick-carousel
    class="carousel category-wrapper"
    #slickModal="slick-carousel"
    [config]="slideConfig"
  >
  @for (testimonial of TESTIMONIALS; track testimonial) {
    <app-testimonial
      ngxSlickItem
      [testimonial]="testimonial"
    ></app-testimonial>
  }
  </ngx-slick-carousel>
</div>

<div class="wrapper wrapper-contact">
  <div class="centered-category-title">Contact me</div>
  <app-social-links />
</div>

<app-copyright></app-copyright>
