.category-wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 0 9vw;
}

.centered-category-title {
  display: flex;
  justify-content: center;
  padding: 0 12vw 2vh;
  font-size: 24px;
  color: var(--white);
  font-family: "Esteban";
  text-align: center;
  line-height: initial;
}

.centered-button {
  display: flex;
  justify-content: center;
  padding: 2vh 12vw 0;
  font-family: "Esteban";
  flex-flow: column;
  align-items: center;

  button {
    width: fit-content;
  }

  &.double-button {
    button {
      margin: 1vh 0;
    }
  }
}

.articles-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (min-width: 650px) {
  .articles-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 5vw;
  }
}

@media only screen and (min-width: 768px) {
  .centered-button {
    flex-flow: row;

    &.double-button {
      button {
        margin: 0 2vw;
      }
    }
  }

  .grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 992px) {
  .centered-button {
    &.double-button {
      button {
        margin: 0 1vw;
      }
    }
  }
}

#fp-nav {
  position: fixed;
  z-index: 100;
  top: 50%;
  opacity: 1;
  display: flex;
  flex-flow: column;
  text-align: center;

  &.fp-right {
    right: 5px;
  }

  div {
    display: block;
    color: var(--primary);
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    // cursor: pointer;
    text-decoration: none !important;
    opacity: 0.5;

    &.active {
      font-size: 6vh;
      color: var(--secondary);
      opacity: 0.8;
    }
  }
}
