.category-wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 0 4vw;
}

.centered-category-title {
  display: flex;
  justify-content: center;
  padding: 5vh 4vw 3vh 4vw;
  font-size: 26px;
  color: var(--white);
  font-family: "Esteban";
  text-align: center;
}

.centered-button {
  display: flex;
  justify-content: center;
  padding: 2vh 0;
  font-family: "Esteban";

  &.double-button {
    button {
      margin: 0 0.5vw;
    }
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
