.app-social-links {
  padding: 5rem 0 0;
  display: flex;
  flex-flow: wrap;
  justify-content: center;

  div {
    margin: 0 1rem;

    &:hover {
      cursor: pointer;
    }

    svg {
      fill: var(--primary);

      &:hover {
        fill: var(--secondary);
      }
    }
  }
}
