@import "../../styles/theme.scss";

.app-banner {
  height: calc(100vh - 2vw);
  background: $gradient;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  position: relative;

  .banner-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: max-content;
    color: $white;
    text-transform: uppercase;

    .title {
      font-size: 7vw;
      animation-name: moveInLeft;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      backface-visibility: hidden;
    }

    .cv-link {
      padding-top: 3vh;
    }
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
