.app-banner {
  height: calc(100vh - 2vw);
  background-image: var(--gradient-opacity-50), url(../../../assets/profile.png);
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  position: relative;

  .banner-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: max-content;
    color: var(--white);
    text-transform: uppercase;

    .title {
      font-size: 7vw;
      animation-name: moveInLeft;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      backface-visibility: hidden;
    }

    // .subtitle {
    //   font-size: 3vw;
    //   animation-name: moveInRight;
    //   animation-duration: 3s;
    //   animation-timing-function: ease-out;
    // }

    .cv-link {
      padding-top: 3vh;
    }
  }
}

@media screen and (min-width: 768px) {
  .app-banner {
    .banner-content {
      .social-links {
        a {
          margin: 0 15px;
        }
      }
    }
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// @keyframes moveInRight {
//   0% {
//     opacity: 0;
//     transform: translateX(+10rem);
//   }

//   80% {
//     transform: translateX(-0.5rem);
//   }

//   100% {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }
