<div class="app-banner">
  <!-- <div>
    Choose your theme:
    <select [(ngModel)]="selectedTheme" (change)="setTheme(selectedTheme)">
      <option
        *ngFor="let theme of themes"
        [value]="theme.value"
        [selected]="theme.value === selectedTheme"
      >
        {{ theme.name }}
      </option>
    </select>
  </div> -->
  <div class="banner-content">
    <div class="title">Madalina-Eleonora</div>
    <app-social-links />
    <div class="cv-link">
      <button (click)="openCV()" class="shine light">Download CV</button>
    </div>
  </div>
  <svg class="arrows">
    <path class="a1" d="M0 0 L30 32 L60 0"></path>
    <path class="a2" d="M0 20 L30 52 L60 20"></path>
    <path class="a3" d="M0 40 L30 72 L60 40"></path>
  </svg>
</div>
