.app-banner {
  height: calc(100vh - 2vw);
  width: 100%;
  background-image: linear-gradient(
      45deg,
      var(--primary-opacity-50),
      var(--secondary-opacity-50)
    ),
    url(../../../assets/profile.png);
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

  .banner-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .title {
      font-size: 7vw;
      padding-top: 1vh;
      font-weight: bold;
      text-transform: uppercase;
    }

    .cv-link {
      padding-top: 3vh;
    }
  }
}

::ng-deep .particles-js-canvas-el {
  position: absolute;
  top: 0;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .app-banner {
    .banner-content {
      .social-links {
        a {
          margin: 0 15px;
        }
      }
    }
  }
}
