.app-sidebar {
  cursor: pointer;
  position: fixed;
  display: flex;
  flex-flow: column;
  top: 0;
  height: 100%;
  justify-content: center;
  right: 1vw;
  opacity: 0.3;

  &:hover {
    opacity: unset;
  }

  a {
    text-decoration: none;
    color: unset;
    font-size: 26px;
    margin: 0.7vh 1vw;
  }
}
