.app-skills {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-flow: dense;
  grid-gap: 10px;

  img {
    max-width: 100%;
    align-self: center;
  }

  .big {
    grid-column: span 3;
    grid-row: span 3;
  }

  .medium {
    grid-column: span 2;
    grid-row: span 2;
  }

  .small {
    grid-column: span 1;
    grid-row: span 1;
  }

  .category {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;

    img {
      padding: 1.2vh 1.2vw;
      height: 100%;

      &.principal {
        width: 70px;
      }

      &.frequent {
        width: 45px;
      }

      &.others {
        width: 25px;
      }
    }
  }
}

@media only screen and (min-width: 470px) {
  .app-skills {
    grid-template-columns: repeat(9, 1fr);
  }
}

@media only screen and (min-width: 560px) {
  .app-skills {
    grid-template-columns: repeat(10, 1fr);
  }
}

@media only screen and (min-width: 650px) {
  .app-skills {
    grid-template-columns: repeat(11, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  .app-skills {
    grid-template-columns: repeat(13, 1fr);
  }
}

@media only screen and (min-width: 992px) {
  .app-skills {
    grid-template-columns: repeat(14, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .app-skills {
    grid-template-columns: repeat(18, 1fr);
  }
}
