@import "../../styles/mixin-breakpoint.scss";
@import "../../styles/fixed-variables.scss";
@import "../../styles/theme.scss";

.app-skills {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-flow: dense;
  grid-gap: 1rem;
  margin-top: 2vw;

  img {
    max-width: 100%;
    align-self: center;

    &:hover {
      transform: scale(1.2);
      z-index: 2;
      transition: $transition;
    }
  }

  .big {
    grid-column: span 3;
    grid-row: span 3;
  }

  .medium {
    grid-column: span 2;
    grid-row: span 2;
  }

  .small {
    grid-column: span 1;
    grid-row: span 1;
  }

  .category {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;

    img {
      padding: 1.2vh 1.2vw;
      height: 100%;
    }
  }

  @include getBreakpoint(tab-port) {
    grid-template-columns: repeat(13, 1fr);
  }

  @include getBreakpoint(tab-land) {
    margin-left: 2vw;
    margin-top: unset;
    grid-template-columns: repeat(12, 1fr);
  }

  @include getBreakpoint(desktop) {
    grid-template-columns: repeat(12, 1fr);
  }
}
