@import "../../styles/fixed-variables.scss";
@import "../../styles/theme.scss";

.app-copyright {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: $transparent;
  font-size: 1.5rem;
  width: -webkit-fill-available;
  text-align-last: center;
  padding-bottom: 1rem;
}
