:root {
  --primary: #b92849;
  --secondary: #26bc99;
  --white: #feffff;
  --black: #0e0f14;
  --grey: #f6f6f6;
  --error: #e11a1a;
  --warning: #ff5733;
  --info: #ffc300;
  --transparent: transparent;
}

@font-face {
  font-family: "Esteban";
  src: local("Esteban"),
    url("./assets/fonts/Esteban/esteban-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HindMadurai";
  src: local("HindMadurai"),
    url("./assets/fonts/HindMadurai/hindmadurai-regular-webfont.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "HindMadurai", Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--black);
  font-size: 16px;
}

button {
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  padding: 0.5vh 1vh;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "HindMadurai";
  cursor: pointer;
}

button:before {
  content: " ";
  display: block;
  width: 200px;
  height: 80px;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: -10px;
  left: -200px;
  transform: rotate(-45deg);
  transition: all 0.2s ease-in-out;
}

button:hover:before {
  margin-left: 300%;
}

button.primary {
  border: 1px solid var(--primary);
  color: var(--primary);
  background-color: var(--transparent);

  &:hover {
    border-color: var(--secondary);
  }
}

a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: var(--primary);

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--secondary);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
  }

  &:hover {
    cursor: pointer;

    &:after {
      transform-origin: bottom left;
      transform: scaleX(1);
    }
  }
}
