:root {
  --primary: #b92849;
  --secondary: #26bc99;
  --white: #feffff;
  --black: #0e0f14;
  --grey: #f6f6f6;
  --error: #e11a1a;
  --warning: #ff5733;
  --info: #ffc300;
  --transparent: transparent;
}

@font-face {
  font-family: "Esteban";
  src: local("Esteban"),
    url("./assets/fonts/Esteban/esteban-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HindMadurai";
  src: local("HindMadurai"),
    url("./assets/fonts/HindMadurai/hindmadurai-regular-webfont.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "HindMadurai", Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--black);
  font-size: 16px;
}

button {
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  padding: 0.5vh 1vh;
  font-family: "HindMadurai";
}

button.primary {
  border: 1px solid var(--primary);
  color: var(--primary);
  background-color: var(--transparent);

  &:hover {
    border-color: var(--secondary);
    color: var(--primary);
  }
}
